<div>
<h1>Using the Virtual Observatory</h1>

<p class="reslinks">First things first: <a href="notes.pdf">Lecture
Notes</a> | <a href="slides.pdf">Slides</a> | <a
href="exercises.pdf">Exercises as slides</a>.</p>

<div class="abstract">
<p>
This is a course on using the Virtual Observatory (VO), an international
research data infrastructure in Astronomy and Astrophysics.  Starting
with a brief discussion of some general concepts, it introduces some of
the major client programs like TOPCAT and Aladin, together with some
simple discovery protocols.  A first focus topic is the query language
ADQL, which is treated within the equivalent of three lectures.  The
second major focus of the course is the premier Python interface to the
VO, pyVO, which is used to also more deeply investigate the topics
treated before.  The course is complemented by a number of side tracks,
brief discussions of more fundamental or more specialised VO topics.</p>

<p>The course comes with many exercises, most of which also have solutions.
We hope it is suitable for both self-study and as lecture notes in
teacher-led situations.  In the latter case, it is designed to work as
a semester-long course with two hours of lectures and lab work each per
week.</p>

<p>Participants should have some basic knowledge of astronomy, and for the
later parts of the course basic skills in Python.
</p>
</div>

<p>The course has been run at the University of Heidelberg in the summer
semester of 2024.</p>

<p>There are two main parts that, for audiences with suitable prior
knowledge, can also work standalone:</p>

<ul>
	<li><a href="https://docs.g-vo.org/adql">A short course on ADQL</a></li>
	<li><a href="https://docs.g-vo.org/pyvo">A short course on pyVO</a></li>
</ul>

<p>The source code of this course is <a
href="https://codeberg.org/msdemlei/vo-course">available on
Codeberg</a> for git-cloning. Contributions are welcome.  All this
is distributed under CC0.</p>

<p><a href="http://doi.org/10.21938/avVAxDlGOiu0Byv7NOZCsQ"
	>doi:10.21938/avVAxDlGOiu0Byv7NOZCsQ</a></p>
</div>
